[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/starter-hugo-academic
[submodule "themes/modules"]
	path = themes/modules
	url = https://github.com/wowchemy/wowchemy-hugo-modules/
